(->
  dependencies = {
    default: []
  }
  current = dependencies.default
  npm = (pkg, target) ->
    current.push [pkg, target]

  group = (names..., body) ->
    for name in names
      current = dependencies[name] ||= []
      body()

    current = dependencies.default

  # Packages declared for install in the Nemfile are inserted below
  # by the cake install file.

{{{npm}}}

  return dependencies
)()
