body {
  font-family: "Lato", Arial, sans-serif;
  font-size: 15px;
  line-height: 22px;
  color: #252519;
  margin: 0;
  padding: 0;
  background: #bbc4c4;
}
h1,
h2,
h3,
h4,
p,
a,
ul,
li {
  font-weight: 300;
}
a {
  color: #261a3b;
}
a:visited {
  color: #261a3b;
}
p {
  margin: 0 0 15px 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 15px 0;
}
.containerobj {
  width: 100%;
  left: 0;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
.containerobj div {
  width: 200px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  float: left;
  border-right: 1px solid rgba(4,32,41,0.4);
}
.containerobj a {
  padding: 4px;
  display: block;
  color: #042029;
  clear: both;
  white-space: nowrap;
  text-decoration: none;
}
.containerobj a:hover {
  background-color: #1ab2a6;
}
.containerobj a.active,
.containerobj a.inpath {
  background-color: #1bcec0;
}
.containerobj .feature {
  min-width: 200px;
}
.containerobj .feature a {
  white-space: normal;
}
.containerobj .hasChildMenu .widget {
  color: #042029;
  float: right;
  text-decoration: none;
  font-size: 0.7em;
}
#jump_to {
  position: fixed;
  width: 100%;
  margin-top: -350px;
  -webkit-transition: margin-top 0.25s ease-in-out;
  -moz-transition: margin-top 0.25s ease-in-out;
  -o-transition: margin-top 0.25s ease-in-out;
  transition: margin-top 0.25s ease-in-out;
}
#jump_to.visible {
  margin-top: 0;
}
#jump_to #jump_show {
  color: #042029;
  position: absolute;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1em;
  cursor: pointer;
  top: 350px;
  width: 56px;
  left: 490px;
  background: #2aa198;
  display: inline-block;
  padding: 6px 8px 12px;
  -webkit-border-radius: 0 0 80px 80px;
  -moz-border-radius: 0 0 80px 80px;
  -o-border-radius: 0 0 80px 80px;
  border-radius: 0 0 80px 80px;
  -webkit-box-shadow: 0 2px 2px rgba(4,32,41,0.4);
  -moz-box-shadow: 0 2px 2px rgba(4,32,41,0.4);
  -o-box-shadow: 0 2px 2px rgba(4,32,41,0.4);
  box-shadow: 0 2px 2px rgba(4,32,41,0.4);
}
#jump_to #jump_page {
  width: 100%;
  background: #2aa198;
  -webkit-box-shadow: 0 2px 2px rgba(4,32,41,0.4);
  -moz-box-shadow: 0 2px 2px rgba(4,32,41,0.4);
  -o-box-shadow: 0 2px 2px rgba(4,32,41,0.4);
  box-shadow: 0 2px 2px rgba(4,32,41,0.4);
}
#container {
  position: relative;
  color: #839496;
  background: #042029;
}
#container:before {
  content: '';
  width: 100%;
  height: 100%;
  margin-left: 525px;
  position: fixed;
  background-color: #042029;
  z-index: -1;
  border-left: 2px solid #888;
}
#container #background {
  position: fixed;
  top: 0;
  left: 525px;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: #042029;
  border-left: 2px solid #888;
}
.toc {
  margin: 0;
  padding-left: 20px;
  border-left: 1px solid #888;
}
.toc li {
  list-style: none;
}
.toc li a {
  text-decoration: none;
  color: #002b36;
}
.toc li a:hover {
  text-decoration: underline;
  color: #252519;
}
.toc li.level0 {
  margin-left: 0px;
}
.toc li.level1 {
  margin-left: 20px;
}
.toc li.level2 {
  margin-left: 40px;
}
.toc li.level3 {
  margin-left: 60px;
}
.toc li.level4 {
  margin-left: 80px;
}
.toc li.level5 {
  margin-left: 100px;
}
pre,
tt,
code {
  font-size: 12px;
  line-height: 18px;
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  margin: 0;
  padding: 0;
}
table tr:hover td,
table tr:hover th {
  -webkit-transition: background-color 0.5s ease-in-out;
  -moz-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}
table tr:hover td.docs,
table tr:hover th.docs {
  background-color: #aebcbc;
}
table tr:hover td.code,
table tr:hover th.code {
  background-color: #0b2c37;
}
table th,
table td {
  -webkit-transition: background-color 2s ease-in-out;
  -moz-transition: background-color 2s ease-in-out;
  -o-transition: background-color 2s ease-in-out;
  transition: background-color 2s ease-in-out;
  border: 0;
  outline: 0;
}
table th.docs,
table td.docs {
  max-width: 450px;
  min-width: 450px;
  min-height: 5px;
  padding: 14px 25px 16px 50px;
  vertical-align: top;
  text-align: left;
  background: #bbc4c4;
  font-size: 14px;
  color: #3b4d52;
  line-height: 18px;
}
table th.docs pre,
table td.docs pre {
  margin: 15px 0 15px;
  padding: 8px 0px 8px 12px;
  border: 1px solid #dedede;
}
table th.docs:hover .pilcrow,
table td.docs:hover .pilcrow {
  opacity: 1;
}
table th.docs p tt,
table td.docs p tt,
table th.docs p code,
table td.docs p code {
  font-size: 12px;
  padding: 0 0.2em;
  color: #073642;
}
table th.docs h1,
table td.docs h1,
table th.docs h2,
table td.docs h2,
table th.docs h3,
table td.docs h3,
table th.docs h4,
table td.docs h4,
table th.docs h5,
table td.docs h5,
table th.docs h6,
table td.docs h6 {
  color: #002b36;
}
table th.docs h1,
table td.docs h1 {
  font-size: 28px;
}
table th.docs h3,
table td.docs h3 {
  font-size: 20px;
}
table th.docs h4,
table td.docs h4 {
  font-size: 16px;
}
table th.code,
table td.code {
  padding: 14px 15px 16px 25px;
  width: 100%;
  vertical-align: top;
  border-left: 1px solid #e5e5ee;
  white-space: pre;
}
table th.code,
table td.code,
table th.docs pre,
table td.docs pre {
  border-left: 2px solid #888;
  background-color: #042029;
  color: #93a1a1;
}
table th.code .native,
table td.code .native,
table th.docs pre .native,
table td.docs pre .native {
  color: #cb4b16;
}
table th.code .keyword,
table td.code .keyword,
table th.docs pre .keyword,
table td.docs pre .keyword,
table th.code .operators,
table td.code .operators,
table th.docs pre .operators,
table td.docs pre .operators,
table th.code .punctuation,
table td.code .punctuation,
table th.docs pre .punctuation,
table td.docs pre .punctuation,
table th.code .hash_end,
table td.code .hash_end,
table th.docs pre .hash_end,
table td.docs pre .hash_end,
table th.code .function,
table td.code .function,
table th.docs pre .function,
table td.docs pre .function,
table th.code .params_begin,
table td.code .params_begin,
table th.docs pre .params_begin,
table td.docs pre .params_begin,
table th.code .params_end,
table td.code .params_end,
table th.docs pre .params_end,
table td.docs pre .params_end,
table th.code .class,
table td.code .class,
table th.docs pre .class,
table td.docs pre .class {
  color: #859900;
}
table th.code .params,
table td.code .params,
table th.docs pre .params,
table td.docs pre .params,
table th.code .subst,
table td.code .subst,
table th.docs pre .subst,
table td.docs pre .subst {
  color: #93a1a1;
}
table th.code .string,
table td.code .string,
table th.docs pre .string,
table td.docs pre .string,
table th.code .heredocs,
table td.code .heredocs,
table th.docs pre .heredocs,
table td.docs pre .heredocs {
  color: #2aa198;
}
table th.code .string_begin,
table td.code .string_begin,
table th.docs pre .string_begin,
table td.docs pre .string_begin,
table th.code .string_end,
table td.code .string_end,
table th.docs pre .string_end,
table td.docs pre .string_end,
table th.code .heredocs_begin,
table td.code .heredocs_begin,
table th.docs pre .heredocs_begin,
table td.docs pre .heredocs_begin,
table th.code .heredocs_end,
table td.code .heredocs_end,
table th.docs pre .heredocs_end,
table td.docs pre .heredocs_end,
table th.code .embedded_begin,
table td.code .embedded_begin,
table th.docs pre .embedded_begin,
table td.docs pre .embedded_begin,
table th.code .embedded_end,
table td.code .embedded_end,
table th.docs pre .embedded_end,
table td.docs pre .embedded_end {
  color: #c60000;
}
table th.code .number,
table td.code .number,
table th.docs pre .number,
table td.docs pre .number {
  color: #099;
}
table th.code .literal,
table td.code .literal,
table th.docs pre .literal,
table td.docs pre .literal,
table th.code .constant,
table td.code .constant,
table th.docs pre .constant,
table td.docs pre .constant,
table th.code .char_group_begin,
table td.code .char_group_begin,
table th.docs pre .char_group_begin,
table td.docs pre .char_group_begin,
table th.code .char_group_end,
table td.code .char_group_end,
table th.docs pre .char_group_end,
table td.docs pre .char_group_end,
table th.code .range_begin,
table td.code .range_begin,
table th.docs pre .range_begin,
table td.docs pre .range_begin,
table th.code .range_end,
table td.code .range_end,
table th.docs pre .range_end,
table td.docs pre .range_end,
table th.code .regexp_operators,
table td.code .regexp_operators,
table th.docs pre .regexp_operators,
table td.docs pre .regexp_operators {
  color: #b58900;
}
table th.code .title,
table td.code .title,
table th.docs pre .title,
table td.docs pre .title,
table th.code .property,
table td.code .property,
table th.docs pre .property,
table td.docs pre .property,
table th.code .class_end,
table td.code .class_end,
table th.docs pre .class_end,
table td.docs pre .class_end,
table th.code .hash,
table td.code .hash,
table th.docs pre .hash,
table td.docs pre .hash {
  color: #268bd2;
}
table th.code .regexp,
table td.code .regexp,
table th.docs pre .regexp,
table td.docs pre .regexp,
table th.code .hereregexp,
table td.code .hereregexp,
table th.docs pre .hereregexp,
table td.docs pre .hereregexp {
  color: #f00;
}
table th.code .comment,
table td.code .comment,
table th.docs pre .comment,
table td.docs pre .comment,
table th.code .embedded,
table td.code .embedded,
table th.docs pre .embedded,
table td.docs pre .embedded {
  color: #586e75;
}
table th.code .escaped,
table td.code .escaped,
table th.docs pre .escaped,
table td.docs pre .escaped,
table th.code .subst_begin,
table td.code .subst_begin,
table th.docs pre .subst_begin,
table td.docs pre .subst_begin,
table th.code .subst_end,
table td.code .subst_end,
table th.docs pre .subst_end,
table td.docs pre .subst_end,
table th.code .char_group,
table td.code .char_group,
table th.docs pre .char_group,
table td.docs pre .char_group {
  color: #cb4b16;
}
table th.code .char_group>.escaped,
table td.code .char_group>.escaped,
table th.docs pre .char_group>.escaped,
table td.docs pre .char_group>.escaped {
  color: #aa2a08;
}
table th.docs h1 {
  margin-top: 6px;
}
table th.docs h3 {
  font-size: 13px;
  margin-bottom: -10px;
  margin-top: 40px;
}
table td.docs h1 {
  padding-bottom: 20px;
  border-bottom: 1px solid #888;
}
