/*--------------------- Layout and Typography ----------------------------*/
@import url("http://fonts.googleapis.com/css?family=Homenaje");

body {
  font-family: 'Homenaje', serif;
  font-size: 15px;
  line-height: 22px;
  color: #252519;
  margin: 0; padding: 0;
}
a {
  color: #261a3b;
}
a:visited {
  color: #261a3b;
}
p {
  margin: 0 0 15px 0;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0px 0 15px 0;
}
  h1 {
    margin-top: 40px;
  }
#container {
  position: relative;
}
#background {
  position: fixed;
  top: 0; left: 525px; right: 0; bottom: 0;
  background: #f5f5ff;
  border-left: 1px solid #e5e5ee;
  z-index: -1;
}
#jump_to, #jump_page {
  background: white;
  -webkit-box-shadow: 0 0 25px #777; -moz-box-shadow: 0 0 25px #777;
  -webkit-border-bottom-left-radius: 5px; -moz-border-radius-bottomleft: 5px;
  font: 10px Arial;
  text-transform: uppercase;
  cursor: pointer;
  text-align: left;
}
#jump_to, #jump_wrapper {
  position: fixed;
  right: 0; top: 0;
  padding: 5px 10px;
}
  #jump_wrapper {
    padding: 0;
    display: none;
  }
    #jump_to:hover #jump_wrapper {
      display: block;
    }
    #jump_page {
      padding: 5px 0 3px;
      margin: 0 0 25px 25px;
    }
      #jump_page .source {
        display: block;
        padding: 5px 10px;
        text-decoration: none;
        border-top: 1px solid #eee;
      }
        #jump_page .source:hover {
          background: #f5f5ff;
        }
        #jump_page .source:first-child {
        }
        #jump_page .source .red {
          color: #cb4b16;
        }
table td {
  border: 0;
  outline: 0;
}
  td.docs, th.docs {
    max-width: 450px;
    min-width: 450px;
    min-height: 5px;
    padding: 10px 25px 1px 50px;
    overflow-x: hidden;
    vertical-align: top;
    text-align: left;
  }
    .docs pre {
      margin: 15px 0 15px;
      padding-left: 15px;
    }
    .docs p tt, .docs p code {
      background: #f8f8ff;
      border: 1px solid #dedede;
      font-size: 12px;
      padding: 0 0.2em;
    }
    .pilwrap {
      position: relative;
    }
      .pilcrow {
        font: 12px Arial;
        text-decoration: none;
        color: #454545;
        position: absolute;
        top: 3px; left: -20px;
        padding: 1px 2px;
        opacity: 0;
        -webkit-transition: opacity 0.2s linear;
      }
        td.docs:hover .pilcrow {
          opacity: 1;
        }
  td.code, th.code {
    padding: 14px 15px 16px 25px;
    width: 100%;
    vertical-align: top;
    background: #f5f5ff;
    border-left: 1px solid #e5e5ee;
  }
    pre, tt, code {
      font-size: 12px; line-height: 18px;
      font-family: Monaco, Consolas, "Lucida Console", monospace;
      margin: 0; padding: 0;
    }


td.docs,th.docs{overflow-x:auto !important}
.docs{background:#bbc4c4 !important;color:#586e75;overflow:auto !important;font-family:"Palatino Linotype","Book Antiqua",Palatino,FreeSerif,serif;font-size:14px}
.docs code,.docs pre{background:rgba(166,176,176,0.5) !important;border:1px solid #a6b0b0 !important;color:#073642}
.docs pre code{background:none !important;border:none !important}
.docs h1,.docs h2,.docs h3,.docs h4,.docs h5,.docs h6{color:#002b36;font-family:"Palatino Linotype","Book Antiqua",Palatino,FreeSerif,serif}
.docs h1{font-size:28px}
.docs h1:first-letter{color:#77822f}
.docs h3{font-size:20px}
.docs h3:first-letter{color:#2d74a6}
.docs h4{font-size:16px}
.docs h4:first-letter{color:#cb4b16}
.docs .demo-table td{width:100px}
#container{color:#839496;background:#a6b0b0 !important}
#container #background{background:#042029;border-left:2px solid #888}
#container td.code,#container th.code{border-left:2px solid #888;background-color:#042029;color:#93a1a1}
#container td.code .bp,#container th.code .bp{color:#999}
#container td.code .c1,#container th.code .c1{color:#586e75 !important;font-style:italic !important}
#container td.code .cm,#container th.code .cm{color:#586e75 !important;font-style:italic !important}
#container td.code .cp,#container th.code .cp{color:#586e75 !important;font-style:italic !important}
#container td.code .cs,#container th.code .cs{color:#586e75 !important;font-weight:bold !important;font-style:italic !important}
#container td.code .c,#container th.code .c{color:#586e75 !important;font-style:italic !important}
#container td.code .err,#container th.code .err{color:#dc322f !important;background:none !important}
#container td.code .gd .x,#container th.code .gd .x{color:#93a1a1 !important;background-color:#4d2d33 !important;display:inline-block}
#container td.code .gd,#container th.code .gd{color:#93a1a1 !important;background-color:#372c34 !important;display:inline-block}
#container td.code .ge,#container th.code .ge{color:#93a1a1 !important;font-style:italic !important}
#container td.code .gh,#container th.code .gh{color:#586e75 !important}
#container td.code .gi .x,#container th.code .gi .x{color:#93a1a1 !important;background-color:#355720 !important;display:inline-block}
#container td.code .gi,#container th.code .gi{color:#93a1a1 !important;background-color:#1a412b !important;display:inline-block}
#container td.code .go,#container th.code .go{color:#888}
#container td.code .gp,#container th.code .gp{color:#555}
#container td.code .gr,#container th.code .gr{color:#a00}
#container td.code .gs,#container th.code .gs{color:#93a1a1 !important;font-weight:bold !important}
#container td.code .gt,#container th.code .gt{color:#a00}
#container td.code .gu,#container th.code .gu{color:#6c71c4 !important}
#container td.code .il,#container th.code .il{color:#099}
#container td.code .kc,#container th.code .kc{color:#b58900 !important}
#container td.code .kd,#container th.code .kd{color:#268bd2 !important}
#container td.code .kp,#container th.code .kp{color:#cb4b16 !important;font-weight:bold !important}
#container td.code .kr,#container th.code .kr{color:#d33682 !important;font-weight:bold !important}
#container td.code .kt,#container th.code .kt{color:#2aa198 !important}
#container td.code .k,#container th.code .k{color:#859900 !important}
#container td.code .mf,#container th.code .mf{color:#2aa198 !important}
#container td.code .mh,#container th.code .mh{color:#2aa198 !important}
#container td.code .mi,#container th.code .mi{color:#2aa198 !important}
#container td.code .mo,#container th.code .mo{color:#099}
#container td.code .m,#container th.code .m{color:#2aa198 !important}
#container td.code .na,#container th.code .na{color:#268bd2 !important}
#container td.code .nb,#container th.code .nb{color:#b58900 !important}
#container td.code .nc,#container th.code .nc{color:#d33682 !important}
#container td.code .ne,#container th.code .ne{color:#268bd2 !important;font-weight:bold !important}
#container td.code .nf,#container th.code .nf{color:#268bd2 !important;font-weight:bold !important}
#container td.code .ni,#container th.code .ni{color:purple}
#container td.code .nl,#container th.code .nl{color:#859900 !important}
#container td.code .nn,#container th.code .nn{color:#b58900 !important}
#container td.code .no,#container th.code .no{color:#b58900 !important}
#container td.code .nt,#container th.code .nt{color:#268bd2 !important;font-weight:bold !important}
#container td.code .nv,#container th.code .nv{color:#93a1a1 !important}
#container td.code .nx,#container th.code .nx{color:#93a1a1 !important}
#container td.code .n,#container th.code .n{color:#268bd2 !important}
#container td.code .ow,#container th.code .ow{color:#2aa198 !important;font-weight:bold !important}
#container td.code .o,#container th.code .o{color:#859900 !important}
#container td.code .p,#container th.code .p{color:#859900 !important}
#container td.code .py,#container th.code .py{color:#268bd2 !important}
#container td.code .s1,#container th.code .s1{color:#2aa198 !important}
#container td.code .s2,#container th.code .s2{color:#2aa198 !important}
#container td.code .sb,#container th.code .sb{color:#d14}
#container td.code .sc,#container th.code .sc{color:#d14}
#container td.code .sd,#container th.code .sd{color:#2aa198 !important}
#container td.code .se,#container th.code .se{color:#dc322f !important}
#container td.code .sh,#container th.code .sh{color:#d14}
#container td.code .si,#container th.code .si{color:#cb4b16 !important;font-weight:normal !important}
#container td.code .sr,#container th.code .sr{color:red !important}
#container td.code .src,#container th.code .src{color:#cb4b16 !important}
#container td.code .sre,#container th.code .sre{color:#aa2a08 !important}
#container td.code .sro,#container th.code .sro{color:#b58900 !important}
#container td.code .sri,#container th.code .sri{color:#2aa198 !important}
#container td.code .ss,#container th.code .ss{color:#990073}
#container td.code .sx,#container th.code .sx{color:#d14}
#container td.code .s,#container th.code .s{color:#2aa198 !important}
#container td.code .vc,#container th.code .vc{color:teal}
#container td.code .vg,#container th.code .vg{color:#268bd2 !important}
#container td.code .vi,#container th.code .vi{color:#268bd2 !important}
#container td.code .w,#container th.code .w{color:#bbb}
#container td.code div .gd,#container td.code div .gd .x,#container td.code div .gi,#container td.code div .gi .x,#container th.code div .gd,#container th.code div .gd .x,#container th.code div .gi,#container th.code div .gi .x{display:inline-block;width:100%}
.font,.widget-common,.text-content,body,h4{font-size:18px;font-family:"Homenaje",sans-serif}


body {background: #BBC4C4;}
